@use '@carbon/layout';

:root {
  --egen-sidenav-width: 16rem;
  --egen-offline-banner-height: 0;
  --egen-navbar-height: #{layout.$spacing-09};
  --egen-topnav-height: var(--egen-navbar-height);
}

.egen-main-content {
  margin-left: 0;
  transition: margin-left 0.5s ease;
}

.egen-offline {
  --egen-offline-banner-height: #{layout.$spacing-06};
  --egen-topnav-height: 4.5rem;

  .cds--side-nav,
  .cds--header-panel--expanded,
  .cds--side-nav__overlay {
    top: var(--egen-topnav-height);
  }
}
