@use '@carbon/layout';

.egen-actionable-notifications-container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: flex;
  bottom: layout.$spacing-07;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.egen-actionable-notification-mounting,
.egen-actionable-notification-mounting > * {
  padding: 0;
}

.egen-actionable-notification-closing,
.egen-actionable-notification-mounting {
  opacity: 0;
}
